body {
  background-color: aquamarine;
  border: 15px double #1c6ea4;
}
#par {
  outline: 5px double #1c6ea4;
  outline-offset: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(209, 83, 83);
  text-shadow: rgb(122, 122, 122) 4px 3px 0px;
  margin-left: 45%;
  margin-right: 44%;
  position: auto;
}
.col-med3 {
  outline: 5px double #1c6ea4;
  outline-offset: 0px;
  margin-left: 15%;
  margin-right: 15%;
}
